@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
font-family: "kalameh";
  background-image: url('./assets/images/jon-r8AFUpRp0J0-unsplash.jpg');
}


@font-face {
  font-family: "kalameh";
  src: url("./assets/font/Kalameh-Medium.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;